{% extends 'base.html' %}
{% block content %}
<main class="main main--about">
    <p>
        Estudiante de Ingeniería en Sistemas especializado en el diseño, desarrollo e implementación de soluciones de
        Business Intelligence. A través de mi capacidad de trabajar en equipo y reconocer las tareas críticas, participo
        en proyectos de implementación con un enfoque en el cliente y la calidad de la solución.
    </p>
    <p>
        Poseo experiencia como consultor BI, brindando soluciones estratégicas a empresas para optimizar la toma de
        decisiones basada en datos, generando capacitaciones para los usuarios y exponiendo los avances de los
        desarrollos en reuniones con el cliente. Comprometido con la mejora continua y la innovación, busco contribuir
        al crecimiento de las organizaciones a través de la aplicación efectiva de inteligencia empresarial.
    </p>
    <p>
        Autor de los trabajos de investigación "Redes Neuronales Artificiales en la Medicina" (CoNaIISI 2020) y
        Evolución del Phishing en Argentina (CoNaIISI 2021).
        9º Congreso Nacional de Ingeniería Informática / Sistemas de Información.
        Además, desde Abril 2024 trabajo como Senior Data Analyst en SEIDOR Analytics.
    </p>
</main>
{% endblock %}