{% extends 'base.html' %}
{% block content %}
    <main class="main main--contact">
        <dl>
            <div class="contact">
                <dt>Email:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="mailto:nicolas.penna16@gmail.com" target= “_blank”>
                        nicolas.penna16@gmail.com
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>GitHub:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://github.com/nicoopenna" target= “_blank”>
                        @nicoopenna
                    </a>
                </dd>
            </div>
            <div class="contact">
                <img src="static\LinkedIn_icon.svg" alt="LinkedIn icon" class="contact__icon" /> <dt>Linkedin:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://linkedin.com/in/nico-penna" target= “_blank”>
                        Nicolas Penna
                    </a>
                </dd>
            </div>
        </dl>
    </main>
{% endblock %}