*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: Lato, sans-serif;
}

body {
    background-color: #1A1A1A; /* Dark background */
    color: #FFFFFF; /* Light text */
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}